body {
  margin: 0;
  padding: 0;
}

.navbar {
  padding-top: 18px;
  padding-right: 0px;
  font-family: Roboto;
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.navbar h2 i {
  font-size: 25px;
}
.navbar .items {
  color: #525560;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}
.navbar .items .nav-item:first-child {
  color: var(--Black, #0b0706);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbar .donate {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header .container {
  display: block;
  position: relative;
}
.header .container .children .center h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}
.header .container .children .center .care {
  color: #fff;
  font-size: 64px;
  width: 700px;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}
.header .container .children .center .box {
  display: flex;
}
.header .container .children .center .box .do {
  position: absolute;
  color: black;
  background-color: #fff;
  width: 75px;
  top: 55%;
  left: 120px;
}
.header .container .children .center .box .play {
  top: 55%;
  left: 18%;
  position: absolute;
  display: flex;
  gap: 8px;
  padding-left: 30px;
  color: #fff;
}
.header .container .children .center .box .play img {
  width: 24px;
}
.header .container .children img {
  width: 100%;
  height: auto;
  display: block;
}
.header .container .children .text {
  display: flex;
  align-items: center;
  color: #fff;
  display: space-between;
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.header .container .children .text .first {
  position: absolute;
}
.header .container .children .text .second {
  position: absolute;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0;
}
.about-section .container {
  gap: 110px;
}
.about-section .container .content .know {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-section .container .content .title {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.about-section .container .content .description {
  margin-bottom: 1em;
  color: #525560;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
}
.about-section .container .content .description-2 {
  margin-bottom: 1em;
  color: #525560;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
  padding-bottom: 48px;
}
.about-section .container .content .learn-more-btn {
  padding: 1em 2em;
  border-radius: 4px;
  background: #f2c94c;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.about-section .container .video-thumbnail {
  position: relative;
}
.about-section .container .video-thumbnail img {
  width: 100%;
  display: block;
}
.about-section .container .video-thumbnail .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-section .container .oursupporters {
  padding-right: 100px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.about-section .container .oursupporters .supporters-title {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 33px;
  position: relative;
  overflow: hidden;
}
.about-section .container .oursupporters .supporters-title:after {
  content: "";
  position: absolute;
  left: 190px;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.about-section .container .oursupporters .logos {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.about-section .container .oursupporters .logos img {
  width: 140px;
  height: auto;
}

.service-section {
  background-color: #fcedc6;
  padding: 0;
}
.service-section .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.service-section .container .text-content .section {
  padding-left: 10px;
}
.service-section .container .text-content .section .section-title {
  padding-top: 96px;
  padding-bottom: 32px;
}
.service-section .container .text-content .section .service-title {
  font-size: 2.5rem;
  color: #333;
}
.service-section .container .text-content .section .service-description {
  color: #666;
  padding-top: 16px;
  padding-bottom: 32px;
}
.service-section .container .text-content .service-list .service-item {
  display: flex;
}
.service-section .container .text-content .service-list .service-item .line {
  display: flex;
  list-style: none;
}
.service-section .container .text-content .service-list .service-item img {
  width: 28px;
  height: 28px;
}
.service-section .container .text-content .service-list .service-item .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 24px;
}
.service-section .container .text-content .service-list .service-item .item-description {
  color: #666;
  max-width: 370px;
  line-height: 160%;
}

.service-image {
  border-radius: 10px;
  padding-top: 147px;
  padding-left: 96px;
  padding-bottom: 96px;
}

.projects-container {
  flex-direction: column;
  padding-bottom: 96px;
}
.projects-container .header {
  margin-bottom: 30px;
  width: 640px;
  padding-left: 125px;
}
.projects-container .header .done-projects {
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 100px;
  position: relative;
  left: -3%;
  padding-top: 56px;
}
.projects-container .header .done-projects:before {
  content: "";
  position: absolute;
  right: 105%;
  bottom: 12%;
  width: 15%;
  height: 1px;
  stroke-width: 2px;
  background-color: #1d2130;
  padding-top: 2.2px;
}
.projects-container .header h1 {
  color: #1d2130;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  padding-bottom: 66px;
}
.projects-container .project-holder {
  gap: 24px;
}
.projects-container .project-holder .project-card {
  position: relative;
  margin-bottom: 20px;
}
.projects-container .project-holder .project-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.projects-container .project-holder .project-card .project-overlay {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  font-family: Roboto;
  padding-bottom: 48px;
  padding-left: 48px;
  border-radius: 0 0 10px 10px;
  position: absolute;
}
.projects-container .project-holder .project-card .project-overlay h3 {
  font-size: 1.25rem;
  width: 85%;
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
  padding-bottom: 16px;
}
.projects-container .project-holder .project-card .project-overlay p {
  font-size: 1rem;
  padding-bottom: 64px;
  width: 75%;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.projects-container .project-holder .project-card .project-overlay .learn-more {
  background: #fff;
  color: black;
  padding: 16px 32px;
  border-radius: 5px;
  text-decoration: none;
  width: 52%;
}

.content-wrapper {
  background-color: #000000;
  width: 100%;
  padding-left: 110px;
  padding-bottom: 141px;
}
.content-wrapper .container {
  display: flex;
  flex-direction: column;
  padding: 86px 0;
}
.content-wrapper .container .text {
  color: #fff;
}
.content-wrapper .container .text h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  max-width: 700px;
}
.content-wrapper .container .text p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  color: #fff;
  max-width: 550px;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  line-height: 160%; /* 25.6px */
  opacity: 0.6;
}
.content-wrapper .container .legend-row {
  padding-top: 32px;
  color: #fff;
  gap: 10px;
}
.content-wrapper .container .legend-row .legend-item {
  font-size: 15px;
}
.content-wrapper .container .legend-row .legend-item .color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  align-items: left;
  margin-right: 10px;
}
.content-wrapper .chart {
  padding-right: 124px;
}

.hero {
  position: relative;
}
.hero .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../imgs/hero.png"); /* Path to your image */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  border-radius: 20px;
}
.hero .cta .content {
  position: absolute;
  color: #fff;
  flex-direction: column;
}
.hero .cta .content h1 {
  color: #fff;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  width: 800px;
}
.hero .cta .btn {
  padding: 12px 32px;
  border: none;
  margin-right: 32px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  font-family: Roboto;
}
.hero .cta .btn.volunteer {
  background: var(--Yellow, #f2c94c);
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero .cta .btn.donate {
  background-color: #fff;
  color: var(--Primary-text, #1d2130);
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.events-container {
  padding-top: 48px;
}
.events-container .our-events {
  color: #1d2130;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 56px */
  padding-bottom: 48px;
  position: relative;
  overflow: hidden;
}
.events-container .our-events:after {
  content: "";
  position: absolute;
  left: 230px;
  top: 26%;
  width: 80%;
  height: 1px;
  background-color: #e5e5e5;
}
.events-container .event-box {
  background-color: #f2c94c; /* Example color, replace with your desired color */
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 24px;
}
.events-container .event-box .date {
  display: block;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.events-container .event-box .date span {
  color: #1d2130;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  font-variant: small-caps;
}
.events-container .event-box .event-type {
  padding-top: 40px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.events-container .event-box .event-title {
  padding-bottom: 50px;
  color: #1d2130;
  /* H3 */
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.footer {
  margin-top: 74px;
  padding: 96px 110px;
  background-color: #000;
  color: #fff;
  padding-right: 214px;
}
.footer .container {
  padding-right: 110px;
  padding-top: 0px;
}
.footer .container .logo {
  font-size: 24px;
  padding-bottom: 0;
  color: #fff;
  font-style: normal;
  font-weight: 700;
}
.footer .container .menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 115px;
  width: 120%;
}
.footer .container .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  opacity: 0.78;
}
.footer .container .menu li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.footer .container .subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 73.5px;
}
.footer .container .subscribe .input-area {
  display: flex;
}
.footer .container .subscribe p {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  width: 450px;
}
.footer .container .subscribe input {
  background: #333;
  border: 1px solid #444;
  color: #fff;
  padding-right: 400px;
}
.footer .container .subscribe input::-moz-placeholder {
  padding-left: 24px;
}
.footer .container .subscribe input::placeholder {
  padding-left: 24px;
}
.footer .container .subscribe button {
  background: #fff;
  color: black;
  padding: 26px 32px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.know-about .container {
  padding-top: 34px;
}
.know-about .container .know-about {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}
.know-about .container .same-line .paragraph {
  padding-bottom: 8px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.know-about .container .same-line h3 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 67px;
  width: 13.67em;
}
.know-about .container .lorem {
  color: #1d2130;
  font-family: Roboto;
}
.know-about .container .lorem .Aenean {
  font-size: 20px;
  width: 23em;
}
.know-about .container .lorem .lorem {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  width: 29em;
}

.main-image {
  padding-bottom: 96px;
  background: linear-gradient(to bottom, #ffffff 50%, #fcedc6 50%);
}
.main-image .container .background-image {
  width: 80em; /* Adjust the width as needed */
  height: 28em; /* Adjust the height as needed */
  background-image: url("../imgs/BG (1).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  border-radius: 20px;
  position: relative;
}
.main-image .container .background-image .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section {
  background-color: #fcedc6;
}
.third-section .container .both {
  padding-bottom: 96px;
  padding-left: 96px;
  padding-right: 96px;
}
.third-section .container .both .mission-vission {
  color: #1d2130;
  font-family: Roboto;
}
.third-section .container .both .mission-vission .inclusive {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.third-section .container .both .mission-vission h4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
}
.third-section .container .both .mission-vission p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.supporters {
  background-color: #fcedc6;
}
.supporters .container .logos {
  padding-top: 49.5px;
  padding-bottom: 97.3px;
  display: flex;
  gap: 97px;
}
.awards {
  margin-top: 96px;
  margin-bottom: 96px;
}
.awards .container .row h3 {
  padding-bottom: 48px;
}
.awards .container .row .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awards .container .row .logo img {
  margin-bottom: 16px;
}
.awards .container .row .logo .year-section {
  text-align: center;
  display: flex; /* Add flexbox */
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  color: #1d2130;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.awards .container .row .logo .year-section h4 {
  margin-bottom: 4px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.awards .container .row .logo .year-section p {
  margin-bottom: 4px;
}
.awards .container .row .logo .year-section .best {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.awards .container .row .logo .year-section .berlin {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.6;
  padding-left: 8px;
}

.journey {
  background-color: #f2c94c;
  width: 100%;
  max-width: 1280px;
  height: 36em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 0 auto;
  padding-top: 128px;
  padding-left: 96px;
  color: #000;
  font-family: Roboto;
  padding-bottom: 64px;
}
.journey .container .row {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%;
}
.journey .container .row .left-column .our-journey {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.journey .container .row .left-column .raised {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
}
.journey .container .row .left-column .lorem {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  opacity: 0.6;
  width: 77%;
}
.journey .container .row .left-column .second-text {
  padding-top: 32px;
  display: flex;
  gap: 32px;
}
.journey .container .row .left-column .second-text .third {
  padding-left: 3px;
}
.journey .container .row img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 37em;
  height: 28em;
}

.team-section {
  text-align: center;
  color: #1d2130;
  font-family: Roboto;
}
.team-section h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  padding-bottom: 16px;
}
.team-section .lead {
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  width: 45%;
  margin: 0 auto; /* This centers the paragraph */
  text-align: center;
}
.team-section .card {
  border: none;
  box-shadow: none;
  color: #1d2130;
  font-family: Roboto;
  padding-bottom: 48px;
}
.team-section .card h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.team-section .card p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  opacity: 0.6;
  padding-bottom: 10px;
}
.working-cross {
  padding-top: 110px;
  padding-bottom: 96px;
  margin-left: 206px;
  margin-right: 110px;
}
.working-cross .col-6 {
  color: #1d2130;
  font-family: Roboto;
}
.working-cross .col-6 .we-do {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.working-cross .col-6 .we-do:before {
  content: "";
  position: absolute;
  right: 105%;
  bottom: 50%;
  width: 12%;
  height: 1px;
  stroke-width: 2px;
  background-color: #1d2130;
  padding-top: 2.2px;
}
.working-cross .col-6 .lorem {
  color: #525560;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  padding-top: 34px;
  width: 105%;
}
.working-cross .col-6 h3 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
  width: 75%;
}
.working-cross .col-6 img {
  padding-left: 113px;
}

.kids {
  background-color: #fcedc6;
  padding-top: 96px;
  padding-bottom: 56px;
  padding-left: 110px;
}
.kids .container {
  padding-left: 0;
  margin-left: 0;
  font-family: Roboto;
}
.kids .container h3 {
  padding-bottom: 64px;
  color: #1d2130;
  color: var(--Primary-text, #1d2130);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.kids .container .col-4 img {
  padding-right: 24px;
}
.kids .container .col-4 h4 {
  color: #1d2130;
}
.kids .container .col-4 p {
  color: #525560;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  padding-bottom: 48px;
  width: 90%;
}

.about-section-2 {
  background-color: #fcedc6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 206px;
  padding-top: 76px;
  padding-bottom: 96px;
  margin-bottom: 85px;
}
.about-section-2 .container .content .we-do {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 32px;
  position: relative;
}
.about-section-2 .container .content .we-do:before {
  content: "";
  position: absolute;
  right: 105%;
  bottom: 50%;
  width: 12%;
  height: 1px;
  stroke-width: 2px;
  background-color: #1d2130;
  padding-top: 2.2px;
}
.about-section-2 .container .content .title {
  font-size: 2.5em;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  margin-bottom: 49px;
  width: 70%;
}
.about-section-2 .container .content .description {
  color: var(--Secondary-text, #525560);
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  width: 80%;
  margin-bottom: 32px;
}
.about-section-2 .container .content .description-2 {
  margin-bottom: 1em;
  color: #525560;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
  padding-bottom: 48px;
}
.about-section-2 .container .content .learn-more-btn {
  padding: 1em 2em;
  border-radius: 4px;
  background: #f2c94c;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.about-section-2 .container .video-thumbnail {
  position: relative;
}
.about-section-2 .container .video-thumbnail img {
  width: 100%;
  display: block;
}
.about-section-2 .container .video-thumbnail .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-section-2 .container .right-side {
  background-color: white;
  border-radius: 20px;
  padding: 24px;
  width: 40%;
  margin-left: 21px;
  flex-direction: row;
  align-items: center;
}
.about-section-2 .container .right-side img {
  height: 10em;
  width: 14em;
  padding-bottom: 24px;
}
.about-section-2 .container .right-side .paragraph {
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 0px;
  width: 100%;
  padding-bottom: 0px;
  padding-left: 24px;
}
.about-section-2 .container .right-side .paragraph h4 {
  margin-top: 9px;
  margin-bottom: 8px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
}
.about-section-2 .container .right-side .paragraph p {
  margin-bottom: 0px;
  color: var(--Primary-text, #1d2130);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  opacity: 0.5;
}
.about-section-2 .container .right-side .paragraph .lorem {
  color: var(--Secondary-text, #525560);
  /* Paragraph */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}/*# sourceMappingURL=master.css.map */