body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.navbar h2 i {
  padding-left: 2px;
  font-size: 25px;
}
.navbar .items {
  gap: 40px;
  padding: 0px 271px;
  list-style: none;
}

.header .container {
  display: block;
  text-align: center;
  position: relative;
}
.header .container .children .center h2 {
  color: #fff;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
}
.header .container .children .center .care {
  color: #fff;
  padding: 75px 120px;
  font-size: 64px;
  width: 700px;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}
.header .container .children .center .box {
  display: flex;
}
.header .container .children .center .box .do {
  position: absolute;
  color: black;
  background-color: #fff;
  width: 75px;
  top: 55%;
  left: 120px;
}
.header .container .children .center .box .play {
  top: 55%;
  left: 18%;
  position: absolute;
  display: flex;
  gap: 8px;
  padding-left: 30px;
  color: #fff;
}
.header .container .children .center .box .play img {
  width: 24px;
}
.header .container .children img {
  width: 100%;
  height: auto;
  display: block;
}
.header .container .children .text {
  display: flex;
  align-items: center;
  color: #fff;
  display: space-between;
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.header .container .children .text .first {
  position: absolute;
  bottom: 6%;
  left: 11%;
}
.header .container .children .text .second {
  position: absolute;
  bottom: 6%;
  right: 11%;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 0;
}
.about-section .container {
  gap: 110px;
}
.about-section .content .know {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about-section .content .title {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}
.about-section .content .description {
  margin-bottom: 1em;
  color: #525560;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
}
.about-section .content .description-2 {
  margin-bottom: 1em;
  color: #525560;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 25.6px */
  padding-bottom: 48px;
}
.about-section .content .learn-more-btn {
  padding: 1em 2em;
  border-radius: 4px;
  background: #f2c94c;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.about-section .video-thumbnail {
  position: relative;
}
.about-section .video-thumbnail img {
  width: 100%;
  display: block;
}
.about-section .video-thumbnail .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-section .supporters {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.about-section .supporters .supporters-title {
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 33px;
  position: relative;
  overflow: hidden;
}
.about-section .supporters .supporters-title:after {
  content: "";
  position: absolute;
  left: 190px;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
.about-section .supporters .logos {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.about-section .supporters .logos img {
  width: 140px;
  height: auto;
}

.service-section {
  background-color: #fcedc6;
  padding: 0;
}
.service-section .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.service-section .container .text-content .section {
  padding-left: 10px;
}
.service-section .container .text-content .section .section-title {
  padding-top: 96px;
  padding-bottom: 32px;
}
.service-section .container .text-content .section .service-title {
  font-size: 2.5rem;
  color: #333;
}
.service-section .container .text-content .section .service-description {
  color: #666;
  padding-top: 16px;
  padding-bottom: 32px;
}
.service-section .container .text-content .service-list .service-item {
  display: flex;
}
.service-section .container .text-content .service-list .service-item .line {
  display: flex;
  list-style: none;
}
.service-section .container .text-content .service-list .service-item img {
  width: 28px;
  height: 28px;
}
.service-section .container .text-content .service-list .service-item .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 24px;
}
.service-section .container .text-content .service-list .service-item .item-description {
  color: #666;
  max-width: 370px;
  line-height: 160%;
}

.service-image {
  border-radius: 10px;
  padding-top: 147px;
  padding-left: 96px;
  padding-bottom: 96px;
}

.projects-container {
  flex-direction: column;
  padding: 86px 0;
}
.projects-container .header {
  margin-bottom: 30px;
  width: 640px;
  padding-left: 125px;
}
.projects-container .header h2 {
  margin-bottom: 10px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 100px;
  position: relative;
  left: -3%;
}
.projects-container .header h1 {
  color: #1d2130;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  padding-bottom: 66px;
}
.projects-container .project-holder {
  gap: 24px;
  padding-left: 110px;
}
.projects-container .project-holder .project-card {
  position: relative;
  margin-bottom: 20px;
}
.projects-container .project-holder .project-card img {
  width: 100%;
  display: block;
  border-radius: 10px;
}
.projects-container .project-holder .project-card .project-overlay {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.projects-container .project-holder .project-card .project-overlay h3 {
  font-size: 1.25rem;
}
.projects-container .project-holder .project-card .project-overlay p {
  font-size: 1rem;
  margin-bottom: 20px;
}
.projects-container .project-holder .project-card .project-overlay .learn-more {
  display: inline-block;
  background: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 100px;
}
.projects-container .project-holder .project-card .project-overlay .learn-more:hover {
  background-color: #0052cc;
}

.content-wrapper {
  background-color: #000000;
  width: 100%;
  padding-left: 110px;
  padding-bottom: 141px;
}
.content-wrapper .container {
  display: flex;
  flex-direction: column;
  padding: 86px 0;
}
.content-wrapper .container .text {
  color: #fff;
}
.content-wrapper .container .text h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  max-width: 700px;
}
.content-wrapper .container .text p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
  color: #fff;
  max-width: 550px;
  /* Paragraph */
  font-size: 16px;
  font-style: normal;
  line-height: 160%; /* 25.6px */
  opacity: 0.6;
}
.content-wrapper .container .legend-row {
  padding-top: 32px;
  color: #fff;
  gap: 10px;
}
.content-wrapper .container .legend-row .legend-item {
  font-size: 15px;
}
.content-wrapper .container .legend-row .legend-item .color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  align-items: left;
  margin-right: 10px;
}
.content-wrapper .chart {
  padding-right: 124px;
}

.hero {
  padding-top: 96px;
  width: 100%;
  display: flex;
  align-items: center; /* This centers the content vertically */
  justify-content: center; /* This centers the content horizontally */
  text-align: center; /* This centers the text inside the paragraph */
  position: relative;
}
.hero .cta {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../imgs/hero.png"); /* Path to your image */
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust as needed */
}
.hero .cta img {
  width: 100%;
}
.hero .cta .content {
  position: absolute;
  color: #fff;
  flex-direction: column;
}
.hero .cta .content h1 {
  color: #fff;
  /* H2 */
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  width: 800px;
}
.hero .cta .btn {
  padding: 12px 32px;
  border: none;
  margin-right: 32px;
  border-radius: 50px;
  cursor: pointer;
  color: #000;
  font-family: Roboto;
}
.hero .cta .btn.volunteer {
  background: var(--Yellow, #f2c94c);
}
.hero .cta .btn.donate {
  background-color: #fff;
}

.events-container {
  padding-top: 188px;
  padding-bottom: 86px;
}
.events-container .event-box {
  background-color: #f2c94c; /* Example color, replace with your desired color */
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 24px;
}
.events-container .event-box .date {
  display: block;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.events-container .event-box .date span {
  color: #1d2130;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  font-variant: small-caps;
}
.events-container .event-box .event-type {
  padding-top: 100px;
  color: #1d2130;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.events-container .event-box .event-title {
  padding-bottom: 50px;
  color: #1d2130;
  /* H3 */
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 42px */
}

.footer {
  margin-top: 86px;
  padding: 96px 110px;
  background-color: #000;
  color: #fff;
  padding-right: 214px;
}
.footer .container {
  padding-right: 110px;
  padding-top: 96px;
}
.footer .container .logo {
  font-size: 24px;
  padding-bottom: 0;
  color: #fff;
  font-style: normal;
  font-weight: 700;
}
.footer .container .menu {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer .container .menu .more-space {
  gap: 40px;
}
.footer .container .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #fff;
  gap: 24px;
}
.footer .container .menu li .head {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}
.footer .container .menu li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
}
.footer .container .subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
}
.footer .container .subscribe .input-area {
  display: flex;
}
.footer .container .subscribe p {
  color: #fff;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  width: 450px;
}
.footer .container .subscribe input {
  background: #333;
  border: 1px solid #444;
  color: #fff;
  padding-right: 400px;
}
.footer .container .subscribe input::-moz-placeholder {
  padding-left: 24px;
}
.footer .container .subscribe input::placeholder {
  padding-left: 24px;
}
.footer .container .subscribe button {
  background: #fff;
  color: black;
  padding: 26px 32px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}/*# sourceMappingURL=master.css.map */